<!DOCTYPE html>

<head>
    <title>Nothing to See Here</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>


<body>
	<script>0</script>

	<div>
		<form action="/otp" method="POST">
			<label name="username"> Username </label>
			<input name="username" type="text/html"/>
			<label name="password"> Password </label>
			<input name="password" type="password"/>
			<label name="OTP"> OTP </label>
			<input name="OTP" type="number" min="1"/>
			<input type="submit" value="Log In">
		</form>
	</div>

        <footer>LOG IN</footer>
        
</body>

</html>
